return
    {
       ["Commenting - Uncomment selected lines"]="modify_line(\"comment\", replace(false))",
       ["Example - Duplicate and Blur"]="\9if i%2 == 1 then\
\9\9duplicate()\
\9\9modify(\"bord\", replace(0))\
\9\9if state.blur == 0 then modify(\"blur\", replace(0.6)) end\
\9\9modify_line(\"layer\",add(1))\
\9\9remove(\"3c\", \"3a\", \"shad\")\
\9else\
\9\9modify(\"c\", replace(get(\"3c\")))\
\9\9modify(\"1a\", replace(get(\"3a\")))\
\9\9if state.blur == 0 then modify(\"blur\", replace(0.6)) end\
\9end",
       ["Commenting - Comment selected lines"]="modify_line(\"comment\", replace(true))",
    }
