return
    {
       ["Commenting - Toggle comment"]="modify_line(\"comment\", function(current)\
    return not current\
end)",
       ["Commenting - Uncomment selected lines"]="modify_line(\"comment\", replace(false))",
       ["Commenting - Comment selected lines"]="modify_line(\"comment\", replace(true))",
    }
